/.idea/*
/.git/*

# Excludes
/Bin/*
/Build/*
/Externals/*

# Get your own assets lol
/Assets/GFX/*

# Includes
!/Externals/CMakeLists.txt
!/Assets/GFX/Albedo.png
!/Assets/GFX/Emmisive.png
!/Assets/GFX/Normal.png
!/Assets/GFX/Metal-Roughness.png