[submodule "Dear ImGui"]
	path = Externals/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Volk"]
	path = Externals/volk
	url = https://github.com/zeux/volk.git
[submodule "Vulkan Memory Allocator"]
	path = Externals/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Tracy Profiler"]
	path = Externals/tracy
	url = https://github.com/rachit7645/tracy.git
