/.idea/*
/.git/*

# Excludes
/Bin/*
/Build/*
/Externals/*

# Get your own assets lol
/Assets/GFX/Mario/
/Assets/GFX/Sponza/
/Assets/GFX/Bistro/
/Assets/Grass.png

# Includes
!/Bin/vk_layer_settings.txt
!/Externals/CMakeLists.txt